{% extends 'base.html' %}
{% comment %}
Officers are available using {{ officers }}
Attributes available for each officer are name, position, email, university, photo
Display photo with something like this (assuming an officer named o):
<img src="{{ o.photo.name }}" alt="{{ o.name }}">
{% endcomment %}

{% block title %}{% endblock %}

{% block content %}
{% for a in officers %}
<h1 style = "text-align: center">{{ a.name }}<br><img src="{{ a.photo.url }}" alt = "{{ a.name }}" height=300 width=300></h1>
<h3 style = "text-align: center">
{{ a.position|safe }}<br>
  <a href="mailto:{{ a.email|safe }}">{{ a.email|safe }}</a><br>
{{ a.university|safe }}<br>
</h3>
{% endfor %}
{% endblock %}
