{% extends 'base.html' %}
{% comment %}
This page should list previous conferences (given with the variable {{ conferences }} ).
Users should be able to select one to see its conference page.  Remember that you must use '/pastcon/<year>'
if you want to link to a specific past year's conference.  e.g. '/pastcon/2018'

Each members of {{ conferences }} has attributes year and content, but you should only need the year on this page
{% endcomment %}
{% block content %}
{% for c in conferences %}
  <a href="/pastcon/{{ c.year }}">{{ c.year }}</a>
{% endfor %}
{% endblock %}
