<!-- 
These pages are functional but ugly.
They don't necessarily need to be pretty though as it'll likely just be admin login.
The best help I can give here is this bit of documentation:
https://docs.djangoproject.com/en/3.1/topics/forms/#working-with-form-templates
 -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
{% endblock %}