<!-- 
These pages are functional but ugly.
This page may not even need to exist as there doesn't seem to be any need for a signup form.
Superuser can create users if new admins join.
The best help I can give here is this bit of documentation:
https://docs.djangoproject.com/en/3.1/topics/forms/#working-with-form-templates
 -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign up</h2>
  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign Up</button>
</form>
{% endblock %}