{% comment %}
Every page on our site (except the admin panel) will contain whatever is in this file.
This file should contain whatever header and footer we want to exist on every page.
The content of the actual particular page will be placed where it says
{% block content %}
{% endblock %}
So put the header above that and the footer below that.
{% endcomment %}

{% comment %}
This page contains a good explanation of the tools you have available (beyond normal html) in templates:
https://docs.djangoproject.com/en/3.1/ref/templates/language/
This link does not explain the url tag, so I'll explain it briefly.
{% url 'login' %} will be replaced with the correct link for the login page.
For example: <a href="{% url 'login' %}">Log In</a>
I'll name pages the same as their filenames.  So a file called 'login.html' can be accessed with {% url 'login' %}
NOTE THAT THIS WILL NOT WORK FOR SPECIFIC PAST CONFERENCE PAGES.  Access those with '/pastcon/slug'

{% comment %}
The admin panel link may or may not have a link, I haven't tried it.  If all else fails, you can use '/admin'

I'll do my best to make you aware of all the variables you have available in each file.
All of the following variables are available in EVERY page, including this one:
user.is_authenticated   : whether the user is logged in
user.username           : username of user if logged in
user.is_staff           : whether user can access admin site
user.is_superuser       : basically whether or not it's Bob
{% endcomment %}
<!DOCTYPE html>
{% load static %}
{% load extrafilters %}
<html>
<head>
    <meta charset="utf-8">
    {% comment %}
    The following block controls the default site title (i.e. the name of the tab with the page open)
    We can give any page a more specific title by putting
    {% block title %}New Title - {% endblock %}
    in any html file.  This would give that page the title "New Title - ACM Mid-Southeast"
    {% endcomment %}
    <title>{% block title %}{% endblock %}ACM Mid-Southeast</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    
<p style = "text-align: right">
<a href = "{% url 'login' %}">Log In</a> | 
<a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Sign Up</a>
</p>

<h1 style = "text-align: center">ACM Mid-Southeast Chapter</h1>

<p style = "text-align: center">
<a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Home</a> | 
<a href = "{% url 'aboutacm' %}">About</a> |
<a href = "{% url 'conference' %}">2020 Conference</a> | 
<a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Archive</a> | 
<a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Links</a> | 
<a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ">Join Us</a> 
</p>

{% comment %} Header goes here {% endcomment %}

{% block content %}
{% endblock %}

{% comment %} Footer goes here {% endcomment %}

</body>
</html>
